{% extends 'base.html' %}


{% block content %}

    <h1 align="center"style="color:white;">Bienvenido a PLASTIC WORLD!</h1>


    <div class="container">

      <div class="row">
        <div class="col-md-3">
          <div class="card mb-4 box-shadow">
            <img src="{{ url_for('static', filename='imgs/mutual.jpg') }}" style="font-size: 24px;"alt="">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>



        <div class="col-md-3">
          <div class="card mb-4 box-shadow">
            <img src="{{ url_for('static', filename='imgs/stimulus.webp') }}" style="font-size: 24px;"alt="">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>


        <div class="col-md-3">
          <div class="card mb-4 box-shadow">
            <img src="{{ url_for('static', filename='imgs/groove.jpg') }}" style="font-size: 24px;"alt="">
            <div class="card-body">
              <p class="card-text">This is a wider card with supportingtext below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>




        <div class="col-md-3">
          <div class="card mb-4 box-shadow">
            <img src="{{ url_for('static', filename='imgs/polegroup.jpg') }}" style="font-size: 24px;"alt="">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>


        <div class="col-md-3">
          <div class="card mb-4 box-shadow">
            <img src="{{ url_for('static', filename='imgs/inma.jpg') }}" style="font-size: 24px;"alt="">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card mb-4 box-shadow">
            <img src="{{ url_for('static', filename='imgs/primevil.webp') }}" style="font-size: 24px;"alt="">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card mb-4 box-shadow">
            <img src="{{ url_for('static', filename='imgs/key.jpg') }}" style="font-size: 24px;"alt="">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card mb-4 box-shadow">
            <img src="{{ url_for('static', filename='imgs/spilo.jfif') }}" style="font-size: 24px;"alt="">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>




    </div>
  {% endblock %}