{% extends 'base.html' %}


{% block content %}

 <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">

        <div class="card bg-white text-dark" style="border-radius: 1rem;">
          <div class="card-body p-3 text-center">
            <div class="mb-md-8 mt-md-2 pb-8">
              <table class="table">
                <thead>
                  <tr>

                    <th scope="col"></th>
                    <th scope="col">EP</th>
                    <th scope="col">Artista</th>
                    <th scope="col">Sello</th>
                    <th scope="col">Price</th>
                  </tr>
                </thead>
                <tbody>
                  {% for product in products %}
                      <tr>

                          <td><img src= "{{ product.img_link }}"style="width: 40px; height: auto;"></td>
                          <td>{{ product.name }}</td>
                          <td>{{ product.name }}</td>
                          <td>{{ product.name }}</td>
                          <td>{{ product.price }} €</td>
                          <td>
                          <button class="btn btn-outline-secondary" type="submit">Comprar</button>
                          </td>
                      </tr>
                  {% endfor %}

                </tbody>
              </table>


          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}